$slateGrey: #181C1D;
$lightGreenGrey: #576569;
$darkteal: #1C3136;
$mediumTeal: #375F69;
$lightTeal: #96AFB5;
$lightRust: #B5753A;
$darkRust: #694E36;
$offWhite: #F2F5F3;

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $slateGrey;
  color: $offWhite;

  // div where the user submits
  .submit-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    .app-header {
      //  color: #282c34;
       font-size: calc(10px + 2vmin);
       margin-bottom: 1rem;
      }
      .search-button {
        background-color: $lightRust;
        border: none;
        color: $offWhite;
        font-weight: bold;
      }
  }
  
  // div where the query is returned
  .response-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 2rem;
   
    .recipe-card {
      width: 26%;
      min-width: 300px;
      margin: 1rem;
      height: auto;
      color: $slateGrey;
    }
    .card-body {
      text-align: center;
    }
    .card-title {
      font-weight: bold;
    }

    .button-container {
      width: 100%;
      text-align: center;

      .recipe-button {
        background-color: $lightRust;
        border: none;
        border-radius: .25rem;
        border: 1px solid rgba(0,0,0,.125);
        font-weight: bold;
      }  
    }
  }
}

