@import 'colors.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $slateGrey;
  color: $offWhite;

  // div where the user submits
  .submit-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    .app-header {
      //  color: #282c34;
       font-size: calc(10px + 2vmin);
       margin-bottom: 1rem;
      }
      .search-button {
        background-color: $lightRust;
        border: none;
        color: $offWhite;
        font-weight: bold;
      }
  }
  
 
}

