// Colors.scss

 $Jet: #353535;
 $LightMing: #437c80;
 $Ming: #3a7275;
 $White: #ffffff;
 $Gainsboro: #d9d9d9;
 $IndigoDye: #1d2e38;
 $InputGrey: #495057;
 $SlateGrey: #181c1d;
 $BlueGrey: #f2f5f8;
 $TabBorderGrey: rgb(222, 226, 230);
