@import 'colors.scss';

// div where the query is returned
.response-section {
  width: 100%;
  margin: 2rem;

  .recipie-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;


    .recipe-card {
      margin: 1rem auto 2rem;
      height: auto;
      color: $slateGrey;
      max-width: 500px;
    }
    .card-img-container {
      padding: 1.521rem;
    }

    .basic-info-container {
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      align-items: baseline;


      .calories,
      .cautions,
      .filter {
        text-align: center;
      }
    }
   

    .expand-button {
      margin: 0;
      padding: 5px 7px;
      width: 100%;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      font-size: 1.17em;
    }

    .expand-button span {
      font-size: 1.17em;
      color: black;
  }


    .card-body {
      text-align: center;
    }
    .card-title {
      font-weight: bold;
    }

    .button-container {
      width: 100%;
      text-align: center;

      .recipe-button {
        background-color: $lightRust;
        border: none;
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.125);
        font-weight: bold;
      }
    }
  }
}
